$body-bg: #004445;
$blue-color: #2c786c;
$yellow-color: #f8b400;
$orange-color: #fa360a;
$light-color: #faf5e4;

$box-shadow: #f8b400 0px 5px 20px -10px;

$gradient: linear-gradient(rgba(1, 68, 68, 0.98), rgb(19 102 102 / 81%));

$navbar-height: 6rem;
$navbar-shrink-height: 5rem;
$border-radius: 30px;

$font-family: 'Montserrat', Helvetica, Arial, sans-serif;
$font-size: 1rem;
