@use "../../../scss/" as *;

.official-playlist {
	margin: 30px 0;
	.content-wrapper {
		h2 {
			font-size: 1.8rem;
			font-weight: 500;
			margin: 30px 0 20px 0;
		}
		.playlist {
			@include flex(center, center);
			flex-direction: column;
			gap: 30px;
			.video {
                @include flex(center, center);
                flex-direction: column;
                gap: 30px;
                width: 90%;
                aspect-ratio: 16/9;
                text-align: center;
				iframe {
					border: 1px solid $blue-color;
                    border-radius: 10px;
                    box-shadow: 1px 1px 12px rgb(105, 105, 105);
					width: inherit;
					height: 100%;
				}
                .video-title {
                    font-weight: 500;
                }
			}
			.pagination {
                width: 80%;
				@include flex(center, center);
                flex-wrap: wrap;
                gap: 10px;
				a {
					float: left;
					padding: 8px 16px;
					font-weight: 500;
					color: white;
					transition: background-color 0.3s;
					border: 1px solid #ddd;
                    cursor: pointer;
					&.active {
						background-color: $yellow-color;
						color: $body-bg;
						border: 1px solid #ddd;
					}
					&:hover {
						background-color: $blue-color;
					}
				}
			}
		}
	}
}
